* {
	margin: 0;
	padding: 0;
}
a {
text-decoration:none;
}

.g-main {
	width: 100%;
}
.g-main-top {
	width: 100%;
	height: 3em;
	background-color: #333;
}
.g-main-top div {
	float: left; 
	height: 100%;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	font-weight: 700;
}
.top2,.top3,.top4,.top5 {
	width: 17%;
}
.top1 {
	width: 14%;
	font-size: 2em;
}
.top1 a {
	color: #fff;
}
.top6 {
	width: 18%;	
}
.top6 input {
	width: 7em;
}
.g-main-bottom {
	width: 100%;
}
