@font-face {
	font-family: 'siyuan';
	src: url('./msyh') format('ttf');
}
* {
	font-family: 'siyuan';
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,
form,fieldset,legend,input,textarea,p,blockquote,th,td,
hr,button,article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
	margin: 0;
	padding: 0;
}
body {
	border: solid #333 2px;
	width: 100%;
	height: 640px;
}
li {
	list-style: none;
}
a {
text-decoration:none;
}
.g-menu {
	-webkit-app-region: drag;
	height: 24px;
	width: 100%;
	boder-bottom: 1px solid #fff;
	background-color: #444;
}
.g-menu-title {
	text-align: center;
	height: 25px;
	line-height: 25px;
	color: #fff;
}
.g-menu-close {
	text-align: right;
	margin-top: -25px;
	height: 25px;
	line-height: 25px;
}
.g-menu-close span {
	margin-right: 0.5rem;
}
.option,
.minisize,
.closed {
	-webkit-app-region: no-drag;
	width: auto;	
}
.g-main {
	width: 100%;
	height: 50px;
}
.g-main-top {
	width: 100%;
	height: 50px;
	background-color: #333;
}
.g-main-top div {
	float: left; 
	height: 100%;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	font-weight: 700;
	color: #fff;
}
.top2,.top3,.top4,.top5 {
	width: 17%;
}
.top1 {
	width: 14%;
	font-size: 2em;
}
.top1 a {
	color: #fff;
}
.top6 {
	width: 18%;	
}
.top6 input {
	width: 7em;
}
.g-main-bottom {
	width: 100%;
	height: 550px
}
