/*page.php*/
.clean {
	clear: both;
}
.cnname {
	font-size: 1.5em;
	font-weight: 700;
}
.enname {
	font-weight: 700;
}
.gameinfo span {
	margin-right: 1em;
}
.pagemid {
	width: 100%;
	border-bottom: solid 1px #ddd;
}
.gamename,
.gnulogo {
	float: left;
	margin: 1rem 0 1rem 1rem;
}
.gnulogo {
	height: 60px;
	line-height: 60px;
}
.gnulogo img {
	height: 60px;
}
.gameimg {
	float: right;
    margin: 1rem 2rem 0 1rem;
}


